<!--The content below is only a placeholder and can be replaced.-->
<div class="nav-wrapper">
  <header>
    <nav class="nav-container">
      <div class="nav-brand">
        FastPort
      <svg class="nav-brand__logo"  xmlns="http://www.w3.org/2000/svg" width="65" height="54" viewBox="0 0 65 54">
        <g [@pageAnimations]="true" class="logo-container" transform="translate(-560 -19)">
          <circle cx="11" cy="11" r="11" transform="translate(560 42)" fill="#00a8fc"/>
          <circle cx="9.5" cy="9.5" r="9.5" transform="translate(581 54)" fill="#2bb8ff"/>
          <circle cx="8" cy="8" r="8" transform="translate(601 52)" fill="#55c6ff"/>
          <circle cx="6.5" cy="6.5" r="6.5" transform="translate(612 41)" fill="#90daff"/>
          <circle cx="5.5" cy="5.5" r="5.5" transform="translate(611 29)" fill="#8dd9ff"/>
          <circle cx="4.5" cy="4.5" r="4.5" transform="translate(608 19)" fill="#bfeaff"/>
        </g>
      </svg>
      </div>
      <ul class="nav-list">
        <li class="nav-list__item">Home</li>
        <li class="nav-list__item">About</li>
        <li class="nav-list__item">Contact</li>
        <li class="nav-list__item">Login</li>
      </ul>
    </nav>
  </header>

  <app-checkout-form></app-checkout-form>
  <!-- <app-footer></app-footer> -->


</div>
<!-- 




 -->
