    <div [@formCompleted] *ngIf="currentStep.active" [formGroup]="applicantForm.controls.applicant" class="form__container form__container--2">


        <div class="form-header">
          <h2 class="form-header__content form-header__content--primary">Applicant</h2>
          <span class="form-header__content form-header__content--secondary">Add applicants to purchase a service</span>
          <img src="../../../assets/Banner.svg" alt="Form Banner" class="form-header__banner">
        </div>
        <div class="form-body">


          <!-- Begin Step 1 -->
          <div [@substepAnimation] *ngIf="currentStep.steps[0].active" id="section-1">
            <div class="form-group">
              <input class="form-group__input form-group__input--block" type="text" required formControlName="firstname" placeholder="Firstname">
            </div>
            <div class="form-group">
              <input class="form-group__input form-group__input--block" type="text" required formControlName="lastname" placeholder="Lastname">
            </div>
            <div class="form-group form-group--relative">
                <select class="form-group__input form-group__input--block" name="addon" id="addons">
                  <option disabled value="Passport Type">Passport Type</option>
                  <option *ngFor="let type of passportTypes" value="type">{{ type }}</option>
                </select>
              </div>
            <label for="departure">Departure Date</label>
            <div class="form-group form-group--flex">
              <input id="departure" class="form-group__input form-group__input--inline" type="date" required formControlName="departureDate" placeholder="Departure Date">
              <input class="form-group__input form-group__input--inline" type="text" required formControlName="destination" placeholder="Destination">
            </div>
          </div>
          <!-- End Step 1 -->


          <div [@substepAnimation] *ngIf="currentStep.steps[1].active" id="section-2">
              <!-- Begin Step 2 -->
              <div class="form-group form-group--flex-column">
                <h3 class="form-heading__secondary">Expediting Service</h3>
                <div class="form-group__radio-group form-group--relative" *ngFor="let product of products | async">
                  <input class="form-group__radio" name="product" [id]="product.name" type="radio">
                  <label class="form-group__radio-label" [for]="product.name" >
                    <div class="form-group--flex">
                      <span class="product__radio-container">
                        <span class="product__radio-center"></span>
                      </span>
                      <span class="product product--third">
                          {{ product.name }}
                        </span>
                        <span class="product product--third">
                          {{ product.description }}
                        </span>
                        <span class="product product--third product--right">
                          {{ product.price | currency }}
                        </span>
                    </div>
                  </label>
                </div>
              </div>
              <!-- End Step 2 -->
            </div>


              <!-- Begin Step 3 -->
            <div [@substepAnimation] *ngIf="currentStep.steps[2].active" id="section-3">
              <div class="form-group form-group--flex-column">
                <h3 class="form-heading--secondary">Addons</h3>
                <div *ngFor="let addon of addons | async">
                    <input class="form-group__checkbox" [name]="addon.name" type="checkbox" [id]="addon.name" [value]="addon.price">
                    <label [for]="addon.name">
                      <div class="form-group form-group--flex">
                        <span class="checkbox__container">
                          <span class="checkbox__center"></span>
                        </span>
                        <span class="product product--half">
                          {{ addon.name }}
                        </span>
                        <span class="product product--half product--right">
                          {{ addon.price | currency }}
                        </span>
                      </div>
                          <div class="addon__description">
                            {{ addon.description }}
                          </div>
                    </label>
                </div>
              </div>
            

            </div>
            <!-- End Step 3 -->
            <div class="form-group">
              <!-- This button will check current substep and whether or not form should submit or continue to next step -->
              <button 
              class="form-button 
                    form-button__submit" 
                    (click)="currentStepAction()"
                    >
                {{ currentAction }}
              </button>
            </div>

          </div>
        


        <svg class="form__border" appResize viewBox="0 0 200 300" preserveAspectRatio="none">
          <rect class="form__background" height="298.5" rx="5" stroke="none" width="197"  stroke="none" fill="#90DAFF" />
          <rect class="form__border-path" x="1.5" y="1.5" width="197" height="297.5" rx="5"  />
        </svg>
    </div>