/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    // background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(191, 234, 255, 0.45)), url("./assets/fastport_clone_bg.svg");
    // background-size: cover;
    padding: 0;
    box-sizing: content-box;
    // background-repeat: no-repeat;
    // background-position: center;
    height: 100vh;
 }
